.square {
    background-color: white; /* 背景顏色為白色 */
    width: 50px; /* 寬度為50像素 */
    height: 50px; /* 高度為50像素 */
    border: 1px solid grey; /* 邊框1像素灰色實線 */
    font-size: 24px; /* 字體大小為24像素 */
    font-weight: bold; /* 字體加粗 */
    cursor: pointer; /* 鼠標移入顯示為指針 */
    line-height: 50px; /* 行高與高度相同，使內容垂直居中 */
    margin: auto; /* 自動上下居中 */
    float: left; /* 向左浮動 */
    text-align: center; /* 文字居中對齊 */
    cursor: pointer; /* 鼠標移入顯示為指針 */
}

.square:hover {
    background-color: deeppink; /* 鼠標懸停時背景顏色變成深粉色 */
    color: white; /* 文字顏色變為白色 */
}

.game {
    width: 400px; /* 寬度為400像素 */
    margin: auto; /* 自動居中 */
    border: 3px solid blue; /* 外邊框3像素藍色實線 */
    border-radius: 20px; /* 圓角半徑為20像素 */
    padding: 20px; /* 內邊距為20像素 */
    display: flex; /* 使用彈性盒子佈局 */
    flex-direction: row; /* 主軸方向為水平排列 */
    align-items: center; /* 主軸上居中對齊 */
}

.game-board {
    background-color: gainsboro; /* 背景顏色為淺灰色 */
    padding: 10px; /* 內邊距為10像素 */
    border-radius: 10px; /* 圓角半徑為10像素 */
    border: 1px solid black; /* 邊框1像素黑色實線 */
}

.game-info {
    margin-left: 30px; /* 左邊距為30像素 */
    margin-right: 10px; /* 右邊距為10像素 */
    padding: 5px; /* 內邊距為5像素 */
}

.board-row:after {
    clear: both; /* 清除浮動 */
    content: ''; /* 生成內容 */
    display: table; /* 以表格方式顯示 */
}

.status {
    margin-bottom: 10px; /* 下邊距為10像素 */
}