.calculator {
    width: 320px; /* 計算機寬度 */
    color: white; /* 文字顏色 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 字體 */
    border-radius: 10px; /* 圓角 */
    background-color: grey; /* 背景顏色 */
    margin: auto; /* 自動置中 */
    padding: 10px; /* 內邊距 */
}

.board {
    display: inline-block; /* 內容以行內塊元素顯示 */
    margin: 10px; /* 外邊距 */
}

.display {
    width: 100%; /* 寬度 */
    height: 75px; /* 高度 */
    background-color: black; /* 背景顏色 */
    text-align: right; /* 文字右對齊 */
    font-size: 50px; /* 字體大小 */
    border-radius: 5px; /* 圓角 */
}

.btn {
    background-color: #323232; /* 按鈕背景顏色 */
    color: white; /* 文字顏色 */
    width: 60px; /* 寬度 */
    height: 60px; /* 高度 */
    font-size: 25px; /* 字體大小 */
    border-radius: 50%; /* 圓角 */
    outline: none; /* 去除默認外框 */
    border: 0px; /* 邊框 */
    padding: 5%; /* 內邊距 */
    margin: 5px; /* 外邊距 */
    cursor: pointer; /* 游標類型 */
}

.btn-action {
    background-color: brown; /* 動作按鈕背景顏色 */
    color: bisque; /* 文字顏色 */
}

.btn-operator {
    background-color: coral; /* 運算符按鈕背景顏色 */
}

.btn-0 {
    width: 130px; /* 寬度 */
    border-radius: 30px; /* 圓角 */
}

.btn:hover{
    background-color: white; /* 滑鼠懸停時的背景顏色 */
    color: black; /* 文字顏色 */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* 陰影效果 */
}

.btn:active{
    background-color: darkred; /* 按下時的背景顏色 */
    color: white; /* 文字顏色 */
}