.calculator {
    width: 320px; /* 計算機寬度 */
    height: 500px; /* 計算機高度 */
    color: white; /* 字體顏色為白色 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 字體設置 */
    border-radius:  10px; /* 邊框圓角 */
    background-color: grey; /* 背景顏色為灰色 */
    margin: auto; /* 自動水平外邊距 */
    padding: 10px; /* 內邊距 */
}

.board{
    display: inline-block; /* 內聯塊級元素 */
    margin: 10px; /* 外邊距 */
    background-color: blue; /* 背景顏色為藍色 */
}

.display{
    width: 100%; /* 寬度為 100% */
    height: 75px; /* 高度為 75px */
    background-color: black; /* 背景顏色為黑色 */
    text-align: right; /* 文字右對齊 */
    font-size: 50px; /* 字體大小為 50px */
    border-radius: 5px; /* 邊框圓角 */
}